body{
    font-family: 'Poppins';
}
input:focus {
   outline: none;
  }
h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
}
a:hover{
    text-decoration: none;
}
header .navbar-nav .nav-link{
    color:#707070;
    font-size: 18px;
}
.slider-section{
    background:url("./images/banner-bg.png");
    background-position:left;
    background-repeat: no-repeat;
    padding-bottom: 160px;
    /* margin-top: -19px; */
}
.slide h1{color: #1f1f1f;font-size: 41px;margin-bottom: 0px;}
.slide p{
    font-size: 18px;
    color: #707070;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 40px;
    margin-bottom: 57px;
}
.buy-now-button {
    font-size: 20px;
    border: none;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 6px 16px;
    border-radius: 5px;
    transition: all .5s cubic-bezier(1, 0, 0, 1);

}
.buy-now-button:hover {
    border-radius: 0px;
    background-image:linear-gradient(45deg, #FF9C35, #FFD019);
}
.carousel-control-next, .carousel-control-prev{
    display: none;
}
.carousel-indicators li {
    border-radius: 50px;
    opacity: 1;
    background-color: #CECECE;
    width: 16px;
    height: 12px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}


.carousel-indicators{
    margin-bottom: -7%;
}
.carousel-indicators .active {
    opacity: 1;
    width: 45px;
    background-image:linear-gradient(45deg, #FF9C35, #FFD019);
}
.section-title{
    padding-bottom: 50px;
}
 .section-title h1{
    font-size: 30px;
     font-width: 500;
     color: #1F1F1F;
}
.section-title h3{
    font-size: 22px;
     font-width:500;
     color: #FF9D00;
}
.smart-phone-section{
    padding: 50px 0px;
}

.smart-phone-section .card-title,
.laptop-section .card-title, 
.price{
font-size: 20px;
    color: #1F1F1F;
    font-weight: 500;
}
.smart-phone-section .card-text,
.laptop-section .card-text {
font-weight: 300;
    font-size: 16px;
    color: #707070;
    padding-bottom: 35px;
}
.smart-phone-section  .card,
.laptop-section .card {
    border: none;
    padding: 36px;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}
.smart-phone-section  .card-footer,
.laptop-section .card-footer{
    background: #ffffff;
    border: none;
}

.categories-section {
    padding: 100px 0px;
}
.section-title-middle{
    color: #1F1F1F;
    font-weight: 500;
    font-size: 35px;
    display: inline-block;
    position: relative;
    margin-bottom: 80px;
}


.section-title-middle:after {
    position: absolute;
    height: 7px;
    width: 70%;
    content: "";
    left: 0;
    right: 0;
    bottom: -15px;
    border-radius: 10px;
    background-image: -moz-linear-gradient( -159.678deg, rgb(255,156,53) 0%, rgb(255,208,25) 100%);
    background-image: -webkit-linear-gradient( -159.678deg, rgb(255,156,53) 0%, rgb(255,208,25) 100%);
    background-image: -ms-linear-gradient( -159.678deg, rgb(255,156,53) 0%, rgb(255,208,25) 100%);
    margin: 0 auto;
}
.categories-section .card{
    box-shadow: 0px 6px 74px 0px rgba(109, 109, 109, 0.15); 
    padding: 50px 60px;
    border:none;
}
.categories-section  .bag-card{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 42px;
    border-top-right-radius: 30px;
}
.categories-section  .shoes-card,
.categories-section  .beauty-card{
    border-top-left-radius: 30px;
    border-bottom-right-radius:  42px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.categories-section p {
    color: #050505;
    font-size: 24px;
    padding-top: 35px;
}


.best-deal{
padding: 100px 0px;
}
.best-deal-product {
    padding-bottom: 10px;
}
.best-deal .product-img img{
    height: 60px;
    width: 60px;
    background: #f5f5f5;
    border-radius: 5px;
}
.product-info {
        padding-left: 8px;
        padding-right: 8px;
}
.product-info  a {
    font-size: 14px;
    color: #050505;
    font-weight: 400;
    }
    
.best-deal .price{
    font-size: 16px;
}


.product-offer {
    border-radius: 5px;
    padding: 5px;
    background-image: -moz-linear-gradient( -159.678deg, rgb(255,156,53) 0%, rgb(255,208,25) 100%);
    background-image: -webkit-linear-gradient( -159.678deg, rgb(255,156,53) 0%, rgb(255,208,25) 100%);
    background-image: -ms-linear-gradient( -159.678deg, rgb(255,156,53) 0%, rgb(255,208,25) 100%);
}

.product-offer-img {
    position: relative;
}

.product-offer h2 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    background: rgba(255,255,255,.8);
    width: 60%;
    /* height: 21%; */
    margin: 0 auto;
    border-radius: 3px;
    padding: 5px 10px;
}

#subscribe {
    background-image: -moz-linear-gradient( -159.678deg, rgb(255,156,53) 0%, rgb(255,208,25) 100%);
    background-image: -webkit-linear-gradient( -159.678deg, rgb(255,156,53) 0%, rgb(255,208,25) 100%);
    background-image: -ms-linear-gradient( -159.678deg, rgb(255,156,53) 0%, rgb(255,208,25) 100%);
    padding: 50px 50px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

#subscribe::after {
    /* background: red; */
    height: 100%;
    content: "";
    width: 35%;
    left: -20px;
    position: absolute;
    top: 0;
    transform: skewX(-20deg);
    background-image: -moz-linear-gradient( -159.678deg, rgb(255,156,53) 0%, rgb(255,208,25) 100%);
    background-image: -webkit-linear-gradient( -159.678deg, rgb(255,156,53) 0%, rgb(255,208,25) 100%);
    background-image: -ms-linear-gradient( -159.678deg, rgb(255,156,53) 0%, rgb(255,208,25) 100%);
}
.touch-part-input {
    width: 70%;
    padding-left: 250px;
}
.touch-part-input h6{
    padding-bottom: 6px;
}
.touch-part-title {
    z-index: 9;
}

.subscribe-form {

    border-radius: 5px;
    border: 1px solid white;
}

.subscribe-form input {
    background: no-repeat;
    border: none;
    width: 100%;
    padding:5px;
}

.subscribe-form input:focus{
    outline: none;
    box-shadow: none;
}
.subscribe-form button {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}


